.zw-nav {
  display: flex;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  line-height: 46px;
  user-select: none;
}

.zw-sub-nav {
  position: relative;

  &:hover {
    & > .zw-sub-nav-title {
      color: #1890ff;
      border-bottom: 2px solid #1890ff;
    }

    & > .zw-sub-nav-content {
      display: inline-block;
    }
  }

  &.active{
    & > .zw-sub-nav-title {
      color: #1890ff;
      border-bottom: 2px solid #1890ff;
    }
  }

  &.disabled{
    & > .zw-sub-nav-title {
      color: #ccc;
      cursor: not-allowed;
      border-bottom: 2px solid transparent;
    }
    &.disabled:hover{
      & > .zw-sub-nav-content {
        display: none;
      }
    }
  }

  .zw-sub-nav-title {
    cursor: pointer;
    padding: 0 20px;
    border-bottom: 2px solid transparent;
    position: relative;
    top: 1px;
  }

  .zw-sub-nav-content {
    display: none;
    position: absolute;
    .zw-sub-nav-content-inner {
      margin-top: 5px;
      background: white;
      border-radius: 4px;
      box-shadow: 0 1px 5px 1px rgba(#ccc, .6);
    }
  }
}

.zw-nav > .zw-sub-nav {
  .zw-sub-nav-content {
    left: 0;
    top: 100%;
  }
}

.zw-sub-nav-content-inner > .zw-sub-nav {
  .zw-sub-nav-content {
    left: 100%;
    top: 0;
    .zw-sub-nav-content-inner {
      margin-top: 0;
      margin-left: 5px;
    }
  }
}

.zw-nav-item {
  position: relative;
  top: 1px;
  width: 50px;
  cursor: pointer;
  padding: 0 20px;
  border-bottom: 2px solid transparent;
  &.active {
    color: #1890ff;
    border-bottom: 2px solid #1890ff;
  }

  &.disabled{
    color: #ccc;
    border-bottom: 2px solid transparent;
    cursor: not-allowed;
  }
}
.zw-sub-nav{
  .zw-nav-item:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .zw-nav-item:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
